<% include header %>

<h1>Create New User</h1>

<form action="/" method="POST">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="city" placeholder="city">
    <input type="text" name="dob" placeholder="DOB">
    <input type="text" name="contact" placeholder="contact">
    <button>Submit!</button>
</form>

<% include footer %> 